:root{
    --cor-fundo: #b1ffe0;
    --cor-form: #d9ffeff0;
    --cor-letra-destaque: #005991;
    /* #49396f */
    --cor-cabecalho: #15625a;
    /* #4fffb8 */

    --font-principal: 'roboto', 'arial', 'sans-serif';
    --font-titulo: 'ink free', 'arial', 'sans-serif';
}

header{
    background-color: var(--cor-cabecalho);
    text-align: center;
    padding: 10px;
    color: white;
    position: sticky;
    top: 0;
}

header h1{
    font-family: var(--font-titulo);
    color: white;
    font-size: 70px;
}

header p{
    font-family: var(--font-principal);
    font-size: 20px;
}

form{
    background-color: var(--cor-form);
    border-radius: 8px;
    width: 80%;
    padding: 20px;
    font-family: var(--font-principal);
    margin-top: 20px;
}

body{
    background-color: var(--cor-fundo);
}

#button{
    margin-top: 30px;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.div_form{
    display: flex;
    gap: 18px;
    justify-content: center;
}

.separa_form{
    margin-bottom: 60px;
}

.j-space-around{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

label{
    margin-inline-end: 5px;
    margin-inline-start: 30px;
}

footer{
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-principal);
}

button{
    background-color: white;
    color: var(--cor-letra-destaque);
    font-size: 20px;
    border-radius: 10px;
}

[type="date"]{
    background-color: azure;
    color: var(--cor-letra-destaque);
}

textarea{
    border-radius: 5px;
    border-color: var(--cor-cabecalho);
    border: 2px solid;
}

select{
    border: 2px solid;
    border-color: var(--cor-cabecalho);
}

input{
    border-color: var(--cor-cabecalho);
}

button:hover{
    background-color: var(--cor-letra-destaque);
    color: white;
}

input:focus{
    background-color: var(--cor-fundo);
}

a:link{
    color: var(--cor-cabecalho);
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: var(--cor-letra-destaque);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}